* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: lightgrey;
}

h1 {
  font-size: 100px;
}
h2 {
  font-size: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* Navigation Bar CSS */
.nav-list {
background-color: rgb(56, 55, 55);
margin: 0;
padding: 1rem 0;
display:flex;
Justify-content: flex-end;
align-items: center;
color: white;
}
.nav-item {
  list-style: none;
  margin-right: 2em;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}
/* Hero Banner */
.img-container {
  background-image: url("starter/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120px;
  display: flex;
  color:white;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-container img {
align-self: flex-end;
margin: 40px;

}
.inner-container h2 {
  margin-left: 50px;
}
/* About Container */

.about-container {
  display: flex;
  background-color: white;
  text-align: center;
}
.section{
  background-color: white;
  padding: 50px;
  margin: 2px;
  min-width: 250px;
}
.section1 {
  flex-grow: 1;
  margin-right: 5em;
}
.section2 {
  flex-grow: 3;
}
/* Portfolio Container */
.p-container {
  display: flex;
  background: white;
  justify-content: center;
  flex-wrap: wrap;
}
.info {
  background-color: white;
  padding: 30px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work {
  flex-grow: 1;
}
.portfolio {
  flex-grow: 9.5;
  
}
.project-1 {
min-width: 100%;
border: solid 3px darkblue;
min-height: 300px;
background-image: url("starter/images/02-portfolio-4.jpg");
background-repeat: no-repeat;
background-size: cover;
} 
.project-2 {
  border: solid 3px darkblue;
  min-height: 200px;
  width: 250px;
  margin-top: 30px;
  background-image: url("starter/images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.project-3 {
  border: solid 3px darkblue;
  min-height: 200px;
  width: 250px;
  margin-top: 30px;
  background-image: url("starter/images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.project-4 {
  border: solid 3px darkblue;
  min-height: 200px;
  width: 250px;
  margin-top: 30px;
  background-image: url("starter/images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.project-5 {
  border: solid 3px darkblue;
  min-height: 200px;
  width: 250px;
  margin-top: 30px;
  background-image: url("starter/images/02-run-buddy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact Container */
.contact-container {
  display: flex;
  background-color: white;
}
.contact-container a {
  text-decoration: none;
}
.contact{
  background-color: white;
  color: black;
  padding: 15.4px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-title {
  flex-grow: 1;
}
.contact-links {
  flex-grow: 76;
}
.contact-links a {
  color: black;
}

h4 {
  border-bottom: solid 3px darkblue;
  text-align: center;
  color: white;
  background-color:rgb(56, 55, 55);
}

/* Media Queries to make website more responsive */
@media all and (max-width: 563px) {
  .p-container {
    display: flex;
    background: white;
    justify-content: center;
    flex-wrap: wrap;
  }
  .info {
    background-color: white;
    padding: 30px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .work {
    flex-grow: 1;
  }
  .portfolio {
    flex-grow: 9.5;
    
  }
  .project-1 {
  width: 100%;
  border: solid 3px darkblue;
  min-height: 300px;
  background-image: url("starter/images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  } 
  .project-2 {
    width: 100%;
    border: solid 3px darkblue;
    min-height: 300px;
    margin-top: 30px;
    background-image: url("starter/images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .project-3 {
    width: 100%;
    border: solid 3px darkblue;
    min-height: 300px;
    margin-top: 30px;
    background-image: url("starter/images/02-portfolio-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .project-4 {
    width: 100%;
    border: solid 3px darkblue;
    min-height: 300px;
    margin-top: 30px;
    background-image: url("starter/images/02-portfolio-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .project-5 {
    width: 100%;
    border: solid 3px darkblue;
    min-height: 300px; 
    margin-top: 30px;
    background-image: url("starter/images/02-run-buddy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-container {
    display: flex;
    background-color: white;
    text-align: center;
  }
  .section{
    background-color: white;
    padding: 50px;
    margin: 2px;
  }
  .section1 {
    flex-grow: 1;
    flex-shrink: 10
  }
  .section2 {
    flex-grow: 3;
    flex-shrink: 1;
  }
  .contact-container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
  }
  .contact-container a {
    text-decoration: none;
  }
  .contact{
    background-color: white;
    color: black;
    padding: 15.4px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .contact-title {
    flex-grow: 1;

  }
  .contact-links {
    flex-grow: 76;
  }
  .contact-links a {
    color: black;
  }

}

@media all and (max-width: 593px) {
  .contact-container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.about-container {
  display: flex;
  background-color: white;
  text-align: center;
  flex-wrap: wrap;
}
.work h2 {
margin-left: 35%;
}

}
@media all and (max-width: 576px) {
  h1 {
    font-size: 60px;
}
h2 {
  font-size: 30px;
  text-align: center;
}
.nav-list {
flex-wrap: wrap;
}
}
@media all and (max-width: 1221px) {
  h2 {
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
}
h2 {
  font-size: 60px;
 
}
}
@media all and (max-width: 374px) {
  .contact-container a {
    font-size: x-small;
  }
}